{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block main %}
<h1 class="page-header">All Profiles</h1>
<div class="card border-primary mb-3" style="max-width: 50rem;">
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <div class="card card-profile text-left">
                <img class="card-img-top rounded-circle profile-image" src="{{ url_for('static', filename = user.pic) }} " alt="Profile Pic"></img>
        </div>
    </div>
    
    <div class="col-sm-12 col-md-6">
        
        
                <strong class="profile-name">{{ user.first_name}} {{ user.last_name }}</strong>
                <div class="profile-info mb-2">
                    <div class="mb-3">
                        <div class = "row">{{ user.email}} </div>
                        <div class = "row">{{ user.location}} </div>
                        <div class = "row">Joined on {{ user.created_on}}</div>
                    </div>
                    <br>
                    <div class="card-body">
                        <h3>About Me</h3>
                        <p class="profile-description">Biography</p>
                    </div> 
                    <div class="card-footer">
                        <div class="col-sm-12 col-md-6">
                            <div class="row">
                                <a href="#" class="btn btn-success">Send Message</a>
                            </div>
                        </div>
                        <br>
                        <div class="col-sm-12 col-md-6">
                            <div class ="row">
                                <a href="#" class="btn btn-primary">Follow</a>
                            </div>
                        </div>
                       </div>
                    </div> 
    </div>
</div>
</div>
{% endblock %}